Pandas Import

In [1]:
import pandas as pd

Daten von URL laden

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv')

In [3]:
df

,id,full_name,first_name,last_name,email,gender,age
0,1.0,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60
1,2.0,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12
2,3.0,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26
3,4.0,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4
4,5.0,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17
5,6.0,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,NaN,77
6,7.0,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25
7,8.0,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77
8,9.0,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45
9,10.0,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old
10,11.0,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6
11,12.0,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16
12,13.0,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91
13,14.0,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22
14,15.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
15,16.0,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16
16,17.0,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19.0,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78
19,20.0,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65
20,21.0,Kerianne Goacher,Kerianne,Goacher,NaN,Female,45
21,NaN,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Die Spalten "id" (damit man ansonsten doppelte Zeilen komplett entfernen kann) und "full_name" (der redundant ist) entfernen.

In [4]:
df.drop(['id', 'full_name'], inplace=True, axis=1)

Doppelte Einträge entfernen, dabei wollen wir alle Spalten miteinbeziehend (geben also "subset" nicht mit an) und diese direkt im df entfernen (inplace=true) und den ersten Eintrag der zu den Doppelten gehört behalten (geben also "keep" nicht mit an, da Default "first" ist)

In [5]:
df.drop_duplicates(inplace=True)

Alter "age" nur positive (".abs()") Ints zulassen

In [6]:
df['age'] = pd.to_numeric(df['age'], errors='coerce').abs()

Fehlende Angaben ersetzen wo sie sinnvoll ersetzbar sind wie bei gender wegen anderer Identifikation der Person

In [7]:
df['gender'] = df.gender.fillna('other')

Zuletzt alle Teilnehmer mit fehlenden Angaben entfernen

In [8]:
df.dropna(inplace=True)

Als weiteres Beispiel nur Volljährige behalten, z.B. falls Daten für eine Studie

In [9]:
df = df[df.age > 18]

In [10]:
df

   first_name    last_name                           email  gender   age
0      Mariel     Finnigan             mfinnigan0@usda.gov  Female  60.0
2        Lalo    Manifould             lmanifould2@pbs.org    Male  26.0
5       Hasty       Perdue                 hperdue5@qq.com   other  77.0
6       Franz     Castello             fcastello6@1688.com    Male  25.0
7       Jorge       Tarney                 jtarney7@ft.com    Male  77.0
8      Eunice  Blakebrough          eblakebrough8@sohu.com  Female  45.0
12   Modestia        Keble                 mkeblec@cmu.edu  Female  91.0
13     Stacee        Bovis           sbovisd@webeden.co.uk  Female  22.0
18      Clair     Skillern              cskillerng@nih.gov    Male  78.0
19     Mathew     Addicott  maddicotth@acquirethisname.com    Male  65.0
21    Maurits        Shawl                mshawlj@dmoz.org    Male  72.0